# Program
aide

# Prerequisites
*.d

# config files
config.log
autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES
Makefile
stamp-h1
aide.spec
doc/aide.conf

*~
.#*
*#

./src/.dirstamp
*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core

lost+found

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

